---
http_interactions:
- request:
    method: get
    uri: "<API-URL>/posts/2"
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '998'
      X-Ratelimit-Reset:
      - '1674737873'
      Etag:
      - W/"116-jnDuMpjju89+9j7e0BqkdFsVRjs"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "userId": 1,
          "id": 2,
          "title": "qui est esse",
          "body": "est rerum tempore vitae\nsequi sint nihil reprehenderit dolor beatae ea dolores neque\nfugiat blanditiis voluptate porro vel nihil molestiae ut reiciendis\nqui aperiam non debitis possimus qui neque nisi nulla"
        }
  recorded_at: Sat, 04 Feb 2023 04:21:55 GMT
- request:
    method: get
    uri: "<API-URL>/posts/5"
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Reset:
      - '1675485135'
      Etag:
      - W/"e1-IivojO0CtPZmcMK0iydTbsfG7Wc"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "userId": 1,
          "id": 5,
          "title": "nesciunt quas odio",
          "body": "repudiandae veniam quaerat sunt sed\nalias aut fugiat sit autem sed est\nvoluptatem omnis possimus esse voluptatibus quis\nest aut tenetur dolor neque"
        }
  recorded_at: Sat, 04 Feb 2023 04:31:58 GMT
recorded_with: VCR 6.1.0
